@import "variables";
@import "theme.default";
@import "slideshowbob.triggers";

html, body, .slideshowbob {
    height: 100%;
}
.slideshowbob {
    position: relative;
    overflow: hidden;

    > input[type="radio"] {
        opacity: 0;
        position: absolute;
        top: -999rem;
    }
}

.slideshowbob__container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    white-space: nowrap;
    letter-spacing: -0.29em;
    transform: translate3d(0,0,0);
    transition: transform $slide-transition-timing $slide-easing-function;
}

/* Opera hack */
.opera:-o-prefocus,
.slideshowbob__container {
    word-spacing: -0.43em;
}

.slideshowbob__slide {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    background: $slide-odd-colour;
    width: 100%;
    height: 100%;
    position: relative;

    &:nth-of-type(even) {
        background: $slide-even-colour;
    }
}

.slideshowbob__slide__content {
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 90%;
    max-width: 80%;
    min-width: 80%;
    padding: 1rem;
    transform: translate3d(-50%, -50%, 0);
    letter-spacing: normal;
    word-spacing: normal;
    box-sizing: border-box;
    white-space: normal;

    ul {
        text-align: left;
        display: inline-block;
    }
}

.slideshowbob__controls {
    label {
        width: 10%;
        font-size: 60px;
        line-height: 50px;
        text-align: left;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        cursor: pointer;
        opacity: 0.1;
        transition: opacity 0.5s ease;
        vertical-align: middle;
        z-index: -1;

        &:hover {
            opacity: 0.9;
        }

        span {
            display: none;
            position: absolute;
            top: 50%;
            right: 1.5rem;
            text-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.5);
            transform: translate3d(0, -50%, 0);
        }
    }
}

.slideshowbob__progress {
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
    padding: 0;
    font-size: 0;
    border-top: 0.5rem solid $slide-progress-colour;
    transition: width 0.5s ease;
}

@for $i from 2 through $slide-count {
    @include slideshowbobtriggers($i);
}